.weather-icon {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .weather-icon.large {
    transform: scale(1.2);
  }